@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin-ext,latin); 

img {
    border:0;   
}

body {
    margin-top:40px;    
    background: #ffffc2;
}

.options {
    position:fixed;
    top:20%;
    left:0;
    background:#f2f2f2;
    color:#333;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    padding:5px;
    width:37px;
    border:5px solid #D7E0E9;
    border-left:none;
}

#photo {
    display: block;
    float: left;
    background: #fcfeff;
    margin-left: 30px;
    border: 10px solid #ff6600;
    -webkit-box-shadow: 0px 1px 3px #ffff00;
    -moz-box-shadow: 0px 1px 3px #ffff00;
    box-shadow: 0px 1px 3px #ffff00;
}

#data {
    float:left;
    padding-left:20px;
}

#social {
    float:right;
}

a.facebook:link, a.facebook:active, a.facebook:visited {
    background-image:url(../img/facebookpb.png);
    width:30px;
    height:30px;
}

a.facebook:hover {
    background-image:url(../img/facebook.png);
    width:30px;
    height:30px;
}

#data td{
    border-top: none;
    border-bottom: 1px solid #FFFF00;
}
.container hr{
    border-color: #ffffc2;
}

.footer {
    padding: 0 50px;
    text-align: right;
}
a {
    color: #000;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FF6600;
}
.container h6 {
    color: #000;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FF6600;
}