@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin-ext,latin); 

img {
    border:0;   
}

body {
    margin-top:40px;    
    background: #ffffc2;
}

.options {
    position:fixed;
    top:20%;
    left:0;
    background:#f2f2f2;
    color:#333;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    padding:5px;
    width:37px;
    border:5px solid #D7E0E9;
    border-left:none;
}

#photo {
    display: block;
    float: left;
    background: #ff6600;
    margin-left: 30px;
    border: 10px solid #ff6600;
    -webkit-box-shadow: 0px 1px 3px #FFFFC2;
    -moz-box-shadow: 0px 1px 3px #FFFFC2;
    box-shadow: 0px 1px 3px #FFFFC2;
}

#data {
    float:left;
    padding-left:20px;
}

#social {
    float:right;
}

a.facebook:link, a.facebook:active, a.facebook:visited {
    background-image:url(../img/facebookpb.png);
    width:30px;
    height:30px;
}

a.facebook:hover {
    background-image:url(../img/facebook.png);
    width:30px;
    height:30px;
}

#data td{
    border-top: none;
    border-bottom: 1px solid #FFFFC2;
    vertical-align: middle;
}

#data tr:hover td{
    background-color:#FF6600;
}

.span8 .table tbody tr:hover td, .table tbody tr:hover th{ 
    background-color:#FF6600;
}
.span8 .table tbody .progress-info .bar{
    background: #ffffc2; /* Old browsers */
background: -moz-linear-gradient(top, #ffffc2 0%, #ff8b00 55%, #ff6600 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffc2), color-stop(55%,#ff8b00), color-stop(100%,#ff6600)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffc2 0%,#ff8b00 55%,#ff6600 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffc2 0%,#ff8b00 55%,#ff6600 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffc2 0%,#ff8b00 55%,#ff6600 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffc2 0%,#ff8b00 55%,#ff6600 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffc2', endColorstr='#ff6600',GradientType=0 ); /* IE6-9 */
}
.container hr{
    border-color: #ffffc2;
}

.footer {
    padding: 0 50px;
    text-align: right;
}
a {
    color: #000;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FFFFC2;
}
.container h6 {
    color: #000;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FFFFC2;
}